cabecalho{
    background-color: darkorchid;
}

.principal{}
   background-color:
    color: background- color red
}

.rodape}
  background-color :blank
     color: white;
    text-align: center;
}
#imagem-do palmeiras
   width: 400px;
   border: 2px background-red
}